<!DOCTYPE html>
<!--[if lt IE 9 ]>
<html lang="zh" class="lt-ie9"><![endif]-->
<!--[if IE 9 ]>
<html lang="zh" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="zh">
<!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <title>{{htmlWebpackPlugin.options.tpl.title}}</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" /> {{{htmlWebpackPlugin.options.tpl.moreMeta}}} {{!--
    <link rel="dns-prefetch" href=""> --}}
    <!--[if lt IE 9 ]><script src="/activity/static/es5-shim-sham.min.js"></script><![endif]-->

</head>

<body {{{htmlWebpackPlugin.options.tpl.bodyProp}}}>
    <div id="header"></div>
    <div id="container" class="container">
        {{{htmlWebpackPlugin.options.tpl.main}}}
    </div>
    <div id="footer"></div>
    {{{htmlWebpackPlugin.options.tpl.moreScript}}}

</body>

</html>